<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>

<h3>
   <a href = "{{ url_for('index') }}">Home</a>
</h3>
  <h1 style="text-align:center;"> Vibez</h1>
  <img src="https://github.com/meganhazlett/reflections/blob/master/music.png?raw=true" alt="Design-url" height="70" width="1400">
  <h3 style="text-align:center;"> The app that genreates a playlist to match the vibe</h3>
  <h4 style="text-align:center;"> An app by Megan Hazlett </h4>
  <hr>
  <h3 style="text-align:center;">A playlist generated for the vibez</h3>


<tbody font-size=15px;>
           {% for song in playlist %}
              <tr>
                  <td>{{ song.SongID }}<br></td>
              </tr>
           {% endfor %}
</tbody>
</body>